<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/navigation.css">
    <% if(path == '/') { %>
    <link rel="stylesheet" href="css/index.css">
    <% } %>
    <% if(path == '/login' || path == '/signup' || path == '/upload' ) { %>
    <link rel="stylesheet" href="css/auth.css">
    <% } %>
    <% if(path == '/chat') { %>
    <link rel="stylesheet" href="css/chat.css">
    <% } %>
    <% if(path == '/rooms') { %>
    <link rel="stylesheet" href="css/rooms.css">
    <% } %>